header{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a{
    color: #333;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    
}

footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: whitesmoke;
}